/* Importing Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100..900;1,100..900&family=Lexend+Exa:wght@100..900&display=swap');

/* Custom Properties */

:root {
  --base_color: #118f8f;
  --accent_color: #65c6c6;
  --heading_font: "Lexend Exa", Arial, sans-serif;
  --body_font: Archivo, Arial, sans-serif;
}

h1 {
  font-family: var(--heading_font);
  margin-top: -7%;
}

h2, h3 {
  font-family: var(--heading_font);
}

p {
  font-family: var(--body_font)
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
}

/* Title Animation */

.container {
  text-align: center;
  top: 50%;
  left: 50%;
  width: 100%;
  margin-top: 10%;
}

.text {
  font-family: var(--heading_font);
  display: block;
  color: var(--base_color);
  font-size: 500%;
  animation: text 3s 1;
  text-align: center;
}

@keyframes text {
  0% {
    margin-bottom: 5px;
  }

  50% {
    letter-spacing: 5px;
    margin-bottom: 5px;
    color: #65c6c6;
  }
}

/* Navigation Animation */

.logo {
  width: 40px;
}

.logo-start {
  width: 3%;
  padding-right: 5px;
  position: absolute;
  top: 0;
  right: 0;
  height: auto;
  z-index: 1000;
}

.navBar {
  font-size: 16px;
  font-family: var(--heading_font);
  font-weight: 500;
  text-decoration: none;
  position: relative;
  display: inline-block;
  padding: 10px 20px;
  transition: color 0.3s ease;
}

.navBar::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -2px;
  height: 2px;
  width: 0;
  background-color: var(--accent_color);
  transition: width 0.4s ease-in-out;
}

.navBar:hover::after {
  width: 100%;
}

nav ul {
  display: flex;
  justify-content: center;
  list-style: none;
  margin: 25px auto 0;
  padding: 0;
  font-size: 15px;

}

nav ul li a {
  color: var(--nav-color);
  text-decoration: none;
  font-weight: bold;
  padding: 10px;
}

.navBar:hover::after {
  animation: underline_nav 0.4s ease-in-out forwards;
}

@keyframes underline_nav {
  from {
    width: 0;
    background-color: #8fffff;
  }

  to {
    width: 100%;
    background-color: var(--accent_color);
    ;
  }
}

/* search bar */
.search-container {
  display: flex;
  align-items: center;
  width: 50%;
  min-width: none;
  margin: 20px auto;
  background: #fff;
  border-radius: 40px;
  padding: 0px 0px 0px 8px;
  box-shadow: 0 4px 12px rgba(67, 67, 103, 0.146);
}

.search-container:hover {
  box-shadow: 0 4px 12px rgba(67, 67, 103, 0.298);
}

#searchBar, #bookSearchBar, #recipeName, #recipeBook, #ingredientsInput, #groupName {
  flex: 1;
  border: none;
  outline: none;
  font-size: 16px;
  padding: 10px;
  background: transparent;
}

.search-button {
  background: var(--base_color);
  border: none;
  border-radius: 12px 100px 100px 12px;
  transition: background .5s ease;
}

.search-button:hover {
  background: var(--accent_color);
}

.search-icon {
  width: 30px;
  margin-top: 5px;
}

/* login button */

.logout-btn {
  font-family: var(--body_font);
  display: inline-block;
  padding: 0.6em 1.2em;
  font-size: 1rem;
  font-weight: 600;
  color: var(--base_color);
  background-color: #ffff;
  border: none;
  border-radius: 8px;
  text-decoration: none;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
  box-shadow: 0 4px 12px rgba(67, 67, 103, 0.146);
}

.logout-btn:hover {
  color: var(--accent_color);
  box-shadow: 0 4px 12px rgba(67, 67, 103, 0.298);
}

/* scan */

#process-btn {
  font-family: var(--body_font);
  display: inline-block;
  padding: 0.6em 1.2em;
  font-size: 19px;
  font-weight: 600;
  color: white;
  background-color: var(--base_color);
  border: none;
  border-radius: 8px;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
  box-shadow: 0 4px 12px rgba(67, 67, 103, 0.429);
}

#process-btn:disabled:hover  {
  box-shadow: 0 4px 12px rgba(67, 67, 103, 0.146);
}

#process-btn:disabled {
  color: var(--base_color);
  background-color: white;
  box-shadow: 0 4px 12px rgba(67, 67, 103, 0.146);
}

#process-btn:hover {
  box-shadow: 0 4px 12px rgba(67, 67, 103, 0.604);
}

#clear-btn, #copy-btn {
  margin-bottom: 80px;
  font-family: var(--body_font);
  display: inline-block;
  padding: 0.6em 1.2em;
  font-size: 1rem;
  font-weight: 600;
  color: white;
  background-color: var(--base_color);
  border: none;
  border-radius: 8px;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
  box-shadow: 0 4px 12px rgba(67, 67, 103, 0.146);
}

#clear-btn:hover, #copy-btn:hover {
  box-shadow: 0 4px 12px rgba(67, 67, 103, 0.604);
}

#image-preview {
  text-align: center;
  margin-top: 20px;
}

#preview-img {
  min-width: 50%;
  max-width: 50%;
  border: 1px solid #ccc;
  margin-top: 20px;
  margin-bottom: 50px;
}

#file-input {
  font-family: var(--body_font);
  display: inline-block;
  padding: 0.6em 1.2em;
  font-size: 1rem;
  font-weight: 600;
  color: var(--base_color);
  background-color: #ffff;
  border: none;
  border-radius: 8px;
  text-decoration: none;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
  box-shadow: 0 4px 12px rgba(67, 67, 103, 0.146);
}

#text-output {
  width: 90%;
  margin-bottom: 80px;
}

textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  font-size: 16px;
  resize: none;
}

.recipe_display {
  border: 1px solid #ddd;
  width: 50%;
  padding-top: 5%;
  padding-bottom: 5%;
  padding-left: 5%;
  margin: auto;
}

.recipe_display, p {
  font-family: var(--body_font)
}

#unlist-btn {
  margin-bottom: 80px;
  font-family: var(--body_font);
  display: inline-block;
  padding: 0.6em 1.2em;
  font-size: 1rem;
  font-weight: 600;
  color: var(--base_color);
  background-color: white;
  border: none;
  border-radius: 8px;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
  box-shadow: 0 4px 12px rgba(67, 67, 103, 0.146);
}

#unlist-btn a {
  text-decoration: none;
  color: var(--base_color);
}

#list-btn {
  margin-bottom: 80px;
  font-family: var(--body_font);
  display: inline-block;
  padding: 0.6em 1.2em;
  font-size: 1rem;
  font-weight: 600;
  color: white;
  background-color: var(--base_color);
  border: none;
  border-radius: 8px;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
  box-shadow: 0 4px 12px rgba(67, 67, 103, 0.146);
}

#list-btn a {
  text-decoration: none;
  color: white;
}

#list-btn:hover {
  box-shadow: 0 4px 12px rgba(67, 67, 103, 0.604);
}

#center {
  margin-top: 50px;
  padding-left: 50px;
}

#inventoryInput {
  display: flex;
  border: none;
  width: 30%;
  height: 40px;
  background: #fff;
  border-radius: 40px;
  padding: 0px 0px 0px 8px;
  box-shadow: 0 4px 12px rgba(67, 67, 103, 0.146);
}

#inventoryInput:hover {
  box-shadow: 0 4px 12px rgba(67, 67, 103, 0.298);
}

#groceryInput {
  display: flex;
  border: none;
  width: 30%;
  height: 40px;
  background: #fff;
  border-radius: 40px;
  padding: 0px 0px 0px 8px;
  box-shadow: 0 4px 12px rgba(67, 67, 103, 0.146);
}

#groceryInput:hover {
  box-shadow: 0 4px 12px rgba(67, 67, 103, 0.298);
}

#groupSearchBar, #userSearchBar {
  flex: 1;
  border: none;
  outline: none;
  font-size: 16px;
  padding: 10px;
  background: transparent;
}

.comments-section {
  margin-top: 1rem;
  border-top: 1px solid #ccc;
  padding-top: 0.5rem;
}

.comments-section input {
  width: 80%;
  padding: 0.25rem;
  margin-top: 0.5rem;
}

.comments-section button {
  padding: 0.3rem 0.6rem;
  margin-left: 0.25rem;
}

.comment-list {
  list-style: disc;
  margin-left: 1rem;
  margin-top: 0.5rem;
}

.l-btn {
  margin-bottom: 80px;
  font-family: var(--body_font);
  display: inline-block;
  padding: 0.6em 1.2em;
  font-size: 1rem;
  font-weight: 600;
  color: white;
  background-color: var(--base_color);
  border: none;
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(67, 67, 103, 0.146);
}

.l-btn:hover {
  box-shadow: 0 4px 12px rgba(67, 67, 103, 0.604);
}

.font {
  font-family: var(--heading_font);
}

#recipeInstructions {
  width: 90%;
}

.createRecipe {
  margin-left: 2%;
}